{% extends 'layout.html' %}

{% block body %}
<br><br>
<h3 class='text-center'>Please find appoinment's list below</h3>
<br><br>
<div class="d-flex flex-row-reverse">
  <div class="p-2">
      <a href="{{ url_for('create_record') }}" class="btn btn-success btn-sm active" role="button">add appointment</a>
  </div>
</div> 

<hr>
{% if records_list %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First&Last name</th>
        <th scope="col">Brief issue description</th>
        <th scope="col">Date</th>
        <th scope="col">Chosen doctor</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for record in records_list %}
      <tr>
        <th scope="row">{{ record.id}}</th>
        <td><a href='{{url_for('record_update', id=record.id)}}'>{{ record.first_name}} {{ record.last_name}}</a></td>
        <td>{{ record.data }}</td>
        <td>{{ record.date }}</td>
        <td>{{ record.recs.name }}</td>
        <td>
            <a href='{{url_for('delete_record', id=record.id)}}'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></a>
        </td>
      </tr>
      {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p>There are no record records in the library. Please create one <a href='{{url_for('create_record')}}'>here</a></p>
    {% endif %}


{% endblock body %}
